<h4>Condividi su:</h4>

<div class="inline-btn">
	<a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.owner.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
	<a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
	<a class="btn-social google-plus"  href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a>
</div><!-- /.share-this -->
<!-- telegram -->
<div class="inline-btn">
         <a class="btn-info"  href="https://telegram.me/xabacadabra" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i> Iscriviti al Canale Telegram !</a>
</div>
<!-- /telegram -->