---
layout: default
---

<!-- tags -->		
{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Postato in {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}		<!-- /tags -->

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">

<!--publisher-->

  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none;">
    <meta itemprop="name" content="Xaba Cadabra">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <img src="http://xabacadabra.com/images/logo.png"/>
        <meta itemprop="url" content="http://xabacadabra.com/images/logo.png">
        <meta itemprop="width" content="120">
        <meta itemprop="height" content="120">
    </div>
   </div>
  </div>		

<!--ads-->

{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}

			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">

				  <p id="post-meta">{{ tags_content }}</p> <!-- tags -->
				  
<!--newsletter-->
<footer class="page-footer">
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//xabacadabra.us15.list-manage.com/subscribe/post?u=f0f5e08be629fa7ba341be251&amp;id=19c4820c91" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Iscriviti a tutti i post: </h2>
<div class="mc-field-group">
	<label for="mce-EMAIL">Indirizzo E-Mail <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0f5e08be629fa7ba341be251_19c4820c91" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Iscriviti!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</footer>
<div class="rect"></div>

<footer class="page-footer">
          {% if page.share != false %}{% include share-this.html %}{% endif %}
          {% include page-meta.html %}
</footer>
<!-- /.footer --> 

<!-- telegram -->
<footer class="page-footer">
<a class="btn-info"  href="https://telegram.me/xabacadabra" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i> <big>Canale Telegram!</a></big>
</footer>
<!-- /telegram -->         

<!--staticman-->
{% if page.staticman == true %}{% include staticman.html %}{% endif %}
<!--/staticman-->

<!-- related -->
<footer class="page-footer"> 
{% include related.html %}
</footer><!-- related -->

<!-- /.footer -->

				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->

<footer class="page-footer">
{% if page.categories %}{% include page-author.html %}{% endif %}
</footer>
		</div><!-- /.inner-wrap -->
		
	</article><!-- ./wrap -->
</div><!-- /#main -->
