---
layout: archive
---

<div id="main" role="main">			
	<div class="wrap">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}

     <div class="page-title">
     <h1>Articoli in: {{ page.tag }}</h1>
     </div>

   <div class="tiles">
      {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
            {% include post-grid.html %}
        {% endfor %}
    {% else %}
        <p>Non ci sono post per questo tag.</p>
    {% endif %}
    </div>
 </div><!-- /.wrap -->
</div><!-- /#main -->
